<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"></meta>
	<meta name="description" content="{$settings_description}"></meta>
	<meta name="description" content="{$settings_keywords}"></meta>      
        {$settings_meta}
	<title>{$settings_sitename}</title>
	<link type="text/css" rel="stylesheet" href="/templates/simple1whf/css/template.css"/>              
{$template_simple1whf_css}  
</head>
<body>
	
<div id="header">
</div>

<div id="maincontent"> 
<div id="page-shadow-top" style="text-align: center;">
</div>
<div id="content">{$content}
</div>
</div>

<div id="footer">{$menu_footer}
</div>
<div id="page-shadow">&nbsp;
</div>
<div class="rrp-logo"><a href="http://www.rapidresidualpro.com"><img border="0" src="http://www.rapidresidualpro.com/images/powered_by_rrp1.png" alt="Powered by Rapid Residual Pro" /></a>
</div>
{$settings_tracking}
</body>
</html>						