/*Rapid Residual Pro Template fullheadernonav*/

body {
background-color: #efefef;
color: #666666;
font-family: Arial, Helvetica, sans-serif;
background-image: url();
margin: 0;
line-height: 1.3em;}

/*Page Background - TOP*/

#page-bg-top2 {
height: 138px;
width: 100%;
background-color: #666666;
background-image: url(../images/head_bg_ddkgray_1x180.jpg);
background-image: linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);
background-image: -o-linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);
background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);
background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);
background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.27, rgb(0,0,0)),
	color-stop(0.91, rgb(102,102,102))
);
border-bottom: 6px #fcb206 solid;
background-repeat: repeat-x;}

/*Container*/

#container {
width: 850px;
margin: 0 auto;}

/*Top Header Strip*/

#header {
width: 100%;
background-color: #1a1a1a;
background-image:url(../images/top_menubg_ddkgray_1x41.jpg); 
background-image: linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);
background-image: -o-linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);
background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);
background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);
background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.27, rgb(0,0,0)),
	color-stop(0.91, rgb(102,102,102))
);
padding-top: 0px;
padding-bottom: 0px;
font-size: 12pt;
text-align: left;
background-repeat: repeat-x;
border-bottom: 0px #ffffff solid;
color: #ffffff;
}

/*Clock*/

/* Top Header Menu */

#top-menu ul { 
	margin: 0;
	display: inline-block;
	text-align: left;
        line-height: 41px;
	padding-left: 25px;
}
#top-menu ul li {
	list-style-type: none;
	margin: 0px;
	font-size: 12pt;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-weight: normal;
        line-height: 41px;
	color: #efefef;
	display: inline-block;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}
#top-menu ul li a:link {
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	color: #ffffff;
}
#top-menu ul li a:visited {
	text-decoration: none;
        color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
}
#top-menu ul li a:hover {
	background-image:url(../images/mouseover_buttonbg_ddkgray.jpg);
	background-color: #000000;
	font-weight: normal;
	color: #fcb206;
	text-decoration: none;
	display: inline-block;
         height: 41px;
	padding-left: 5px;
	padding-right: 5px;
}

#clear {
clear: both;}

/*Main Header*/

#outer-image {
height: 114px;
padding-top: 15px;
padding-bottom: 15px;
background-color: #1a1a1a;
background-image: url(../images/head_bg_ddkgray_1x150.jpg);
width: 100%;
background-image: linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);
background-image: -o-linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);
background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);
background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);
background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.27, rgb(0,0,0)),
	color-stop(0.91, rgb(102,102,102))
);
border-bottom: 6px #fcb206 solid;
border-right: 1px #000 solid;
border-left: 1px #000 solid;
background-repeat: repeat-x;
visibility: visible;}

#inner-image {
height: 122px;
width: 322px;
border="none"
background-repeat: no-repeat;
background-color: #;
text-align: center;
padding: 0px;
margin: 0px auto;}

/*Main Container for Page and Navigation Menu*/

#content {
margin: -27px auto;
width: 100%;}

/*Main Navigation*/

#main-nav {
margin: 0 auto;
padding: 0;
width: 842px;
background-color: #ffffff;
border-left: 4px #dfdfdf solid;
border-right: 4px #dfdfdf solid;
text-align: center;}

#main-nav ul { 
display: inline-block;
text-align: center;}

#main-nav ul li {
list-style-type: none;
font-family: Tahoma, Helvetica, Arial, sans-serif;
font-weight: normal;
color: #000000;
display: inline-block;
background-color: #ffffff;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 5px;
padding-right: 5px;}

#main-nav ul li a:link {
color: #000000;
text-decoration: none;
display: block;
font-weight: normal;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 5px;
padding-right: 5px;}

#main-nav ul li a:visited {
color: #000000;
text-decoration: none;}

#main-nav li a:hover {
background-color: #efefef;
background-image: linear-gradient(bottom, rgb(207,207,207) 24%, rgb(245,245,245) 69%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(207,207,207) 24%, rgb(245,245,245) 69%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(207,207,207) 24%, rgb(245,245,245) 69%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(207,207,207) 24%, rgb(245,245,245) 69%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(207,207,207) 24%, rgb(245,245,245) 69%, rgb(255,255,255) 100%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.24, rgb(207,207,207)),
	color-stop(0.69, rgb(245,245,245)),
	color-stop(1, rgb(255,255,255))
);}

#main-nav ul li a:active {
text-decoration: none;
}

/*Main Content Area*/

#main-text {
width: 762px;
background-color: #ffffff;
border-left: 4px #dfdfdf solid;
border-bottom: 4px #dfdfdf solid;
border-right: 4px #dfdfdf solid;
padding-left: 40px;
padding-bottom: 10px;
padding-right: 40px;
margin: 0 auto;
float: left;}

.content-1{
margin: 0 auto;
padding: 0px 0;
}
.content-1 h1{
margin: 0px
padding: 10px 0 0 0;
font-size: 20pt;
text-align: center;
letter-spacing: 3px;
font-weight: bold;
color: #9f0000;
font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;}
}
h1 {
font-size: 20pt;
text-align: center;
letter-spacing: 3px;
font-weight: bold;
color: #9f0000;
font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;}

h2 {
font-size: 17pt;
text-align: center;
letter-spacing: 3px;
font-weight: bold;
color: #9f0000;
font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;}

p {
font-size: 13pt;
line-height: 1.4em;}

a:link {
color: #000000;
text-decoration: none;} 

a:visited {
color: #000000;
text-decoration: none;}

a:hover {
background-color: #c5defe;
text-decoration: underline;}

#page-shadow-top {
height: 35px;
background-image: url(../images/header_page_shadow_679x15.png);
background-repeat: no-repeat;
width: 790px;
top: 0px;
margin: 0 auto;
background-position: top center;
}

/*Footer*/

.footer {
font-size: 12pt;
text-align: center;
font-weight: normal;
color: #7f7f7f;
margin: 5px auto;
}
.footer ul{
display: inline-block;
text-align: center;
}
.footer ul li{
margin: 0 10px;
list-style-type:none;
display: inline-block;
text-align: center;
}
p.footer {
font-size: 12pt;
text-align: center;
font-weight: normal;
color: #7f7f7f;
margin: 0 auto;
margin: 0 0 20px 0;
}
.footer ul li a:link{
color: #000000;
text-decoration: none;
display: inline-block;
font-weight: normal;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 5px;
padding-right: 5px;
}
.footer ul li a:visited {
color: #000000;
text-decoration: none;
}
.footer li a:hover {
background-color: #cccccc;
background-image: linear-gradient(bottom, rgb(207,207,207) 24%, rgb(245,245,245) 69%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(207,207,207) 24%, rgb(245,245,245) 69%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(207,207,207) 24%, rgb(245,245,245) 69%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(207,207,207) 24%, rgb(245,245,245) 69%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(207,207,207) 24%, rgb(245,245,245) 69%, rgb(255,255,255) 100%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.24, rgb(207,207,207)),
	color-stop(0.69, rgb(245,245,245)),
	color-stop(1, rgb(255,255,255))
);
}
.footer ul li a:active {
text-decoration: none;
}

/******************/
/*  BLOG         */
/****************/


/******************/
/* ERROR-SUCCESS */
/****************/
.error {	
	padding:10px 7px 10px 20px;	
	margin:10px auto;	
	width:98%;	
	margin-top:10px;		
	color:#c50000;
	font-size:14px;	
	text-align:left;	
	font-family:Verdana, Geneva, sans-serif;	
	background-color: #FFDFDF;  
	border: 1px solid #FF0000;
	/*background:url../../images/mes-box2.gif) no-repeat;*/
}
.success {
	padding:10px 7px 10px 20px;
	margin:10px auto;
	width:98%;
	margin-top:10px;
	color:#0E5F00;
	font-size:14px;
	text-align:left;
	font-family:Verdana, Geneva, sans-serif;
	background-color: #F1FFEF;
    border: 1px solid #106F00;
   	font-weight: normal;
}

/******************/
/*  COMMENTS     */
/****************/
.comments {
	width: 98%;	
	float: left;	
	border: 1px solid #f4f4f4;	
	padding: 5px;
}
.comments h3 {   
background-color: #000000;
background-image: url(../images/comments_h3bg_ddkgray1x25.jpg);
width: 98%;
height: 25px;
background-image: linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);
background-image: -o-linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);
background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);
background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);
background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 27%, rgb(102,102,102) 91%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.27, rgb(0,0,0)),
	color-stop(0.91, rgb(102,102,102))
);
background-repeat: repeat-x;
   	border-bottom: 1px solid #cccccc;
    	color: #fcb206;
    	font-size: 1em;
    	padding: 9px 5px;
}
.comments .author {
	font-size: 12px;color: #2A6F00;
	font-weight: bold;
}
.comments .date {
	font-size: 12px;color: #2A2521
}
.comments .comment {
	font-size: 12px;
	padding: 5px 0px
}
.comments .url {  
	border-bottom: 1px solid #F4F4F4;
	font-size: 12px; 
	padding: 5px 0;
}
.comments .url a {
	color:#489022
}
.comments .replys {
    	background-color: #F4F4F4;
    	margin-bottom: 1px;
    	margin-left: 25px;
    	padding: 14px;
    	width: 92%;
}

/******************/
/* PRODUCTS      */
/****************/
.products {
	width: 100%;
	float: left;
	padding: 10px 0px;
	border-bottom: 1px solid #e4e4e4;
}
.products h3 {  
	background: url("../images/headline_bg.jpg") no-repeat scroll left top transparent;
    	color: #5E4400;
    	font: 20px/33px Arial,Helvetica,sans-serif;    
    	text-indent: 4px;
    	width: 100%;
}
.products .product-price {
	font-weight: bold;clear: both;
}
.products .product-discription {
	padding:10px 0px;
	width: 77%;
	float: left;
}
.products .product-image {
	float: left;
	width: auto;
}

/******************/
/*    PAGER      */
/****************/
.pager {
	width: auto;
	padding: 0px 0px; 
	text-align: center;
	margin-top: -1px;
}
.pager .totalpage {
	width: auto;
	float: left;
}
.pager .page {
	width: auto;
	float: left;
}
/***********************/
/*      COPYRIGHT     */
/*********************/
.footer p.copyright {
color: #757575;
font-family: Tahoma,Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size: 9px;
padding: 9px 0;
text-transform: uppercase;
}
/***********************/
/*      POWERED BY     */
/*********************/
#rrp-logo {
margin: 5px auto;
width:178px;
height:30px;
position: relative;
background: none;
text-decoration: none;
}
#rrp-logo a {
background: none;
text-decoration: none;
}