

body {
  font-family: Tahoma, "Helvetica Neue", "Trebuchet MS", Verdana, Arial, sans-serif;
  font-size: 62.5%;
  color: #444444;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  background-color: #818181;
  background: #818181 repeat-x;
  height: 100%;
 
}


