	/***************************************************/
/* RRP "simplecool1blog" CSS  */
/*************************************************/
body {
margin: 0;
padding: 0;
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 13pt;
line-height: 1.4em;
color: #666666;
background-color: #f4f4f4;
}
p {font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 13pt;
line-height: 1.4em;
color: #666666;
}
#header p {
  padding: 0;
}
h1 {
color: #b82530;
font-family: Tahoma, Arial, sans-serif;
font-size: 20pt;
font-weight: bold;
text-align: center;
line-height: 1.4em;
letter-spacing: 3px;
margin-top: 0px;
}
h2 {
color: #b82530;
font-family: Tahoma, Arial, sans-serif;
font-size: 17pt;
font-weight: bold;
text-align: center;
line-height: 1.2em;
}
h3 {
color: #b82530;
font-family: Tahoma, Arial, sans-serif;
font-size: 15pt;
font-weight: bold;
text-align: center;
line-height: 1.4em;
}
h4 {
color: #666666;
font-family: Tahoma, Arial, sans-serif;
font-size: 13pt;
font-weight: bold;
text-align: center;
line-height: 1.4em;
}
h5 {
color: #666666;
font-family: Tahoma, Arial, sans-serif;
font-size: 12pt;
font-weight: bold;
text-align: center;
line-height: 1.4em;
}
h6 {
color: #666666;
font-family: Tahoma, Arial, sans-serif;
font-size: 11pt;
font-weight: bold;
text-align: center;
line-height: 1.4em;
}
#topstrip {
 height: 45px;
 width: 100%;
 background: #111 url();
 margin-top: 0px;
 margin-bottom: 20px;
 overflow: hidden;
}
#topstrip p {
 width:100%;
 line-height: 25px;
 color: #efefef;
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;
 margin: 0px 0 0 -40px;
 overflow: hidden;
}
#maincontent {
background: #ffffff url(../images/bg_mainandside_946x1.png);
border-top: 8px #d9d9d9 solid;
border-right: 8px #d9d9d9 solid;
border-bottom: 8px #d9d9d9 solid;
border-left: 8px #d9d9d9 solid;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
width: 946px;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
padding: 0;
overflow:hidden;
}
#header-strip {
background: #000 url(../images/header_bg_15x185.png);
border-top: 0px #e9e9e9 solid;
border-right: 0px #e9e9e9 solid;
border-bottom: 0px #e9e9e9 solid;
border-left: 0px #e9e9e9 solid;
width: 100%;
height: 35px;
margin-top: 0px;
margin-left: auto;
margin-right: auto;
overflow: hidden;
position: relative;
}
#header-strip p{
text-align: right;
padding: 5px 20px;
color: #efefef;
margin: 0px auto;
}
#header-strip ul {
width: 100%;
height: 35px;
background: #111 url(../images/header_bg_15x185.png);
display: inline-block;
text-align: center;
margin: 0 0 0 -40px;
} 
#header-strip ul li{
list-style: none;
font-family: Tahoma, Helvetica, Arial, sans-serif;
font-weight: normal;
font-size: 13pt;
color: #efefef;
text-decoration: none;
display: inline-block;
text-align: center;
background: #111 url(../images/header_bg_15x185.png);
padding: 0px 0px;
margin: 0 auto;
position: relative;
}
#header-strip ul li a{
list-style-type: none;
font-family: Tahoma, Helvetica, Arial, sans-serif;
font-weight: normal;
color: #efefef;
line-height: 29px;
text-decoration: none;
display: inline-block;
text-align: center;
background: #111 url(../images/header_bg_15x185.png);
padding: 3px 5px;
margin: 0 auto;
overflow: hidden;
}
#header-strip ul li a:visited {
color: #efefef;
list-style-type: none;
text-decoration: none;
display: inline-block;
}
#header-strip ul li a:hover {
color: #efefef;
background-color: #aa2000;
list-style: none outside none;
line-height: 29px;
text-decoration: none;
display: inline-block;
}
#header {
width: 100%;
height: 182px;
background: #a20000 url(../images/header_bg_15x185.png);
background-position: left;
border-bottom: 8px #d9d9d9 solid;
padding-left: 0px;
padding-top: 0px;
padding-bottom: 0px;
padding-right: 0px;
margin: 0 auto;
}
#header h1 {
width: 450px;
color: #efefef;
font-family: Tahoma, Arial, sans-serif;
font-size: 16pt;
font-weight: bold;
text-align: right;
line-height: 1.4em;
letter-spacing: 3px;
margin: 0px 0px;
padding-top: 50px;
padding-right: 20px;
}
/**********************/
/*       Float       */
/********************/

.float_l {
	float:left !important;
}

#header .float_r {
    float:right !important;
    margin-top: 6px;
    margin-right: 20px;
    color: #CCCCCC;
    text-align: right;
}
#header h2 {
float: right;
width: 450px;
color: #ffffff;
font-family: Tahoma, Arial, sans-serif;
font-size: 16pt;
font-weight: bold;
line-height: 1.5em;
letter-spacing: 3px;
text-align: center;
padding-top: 10px;
padding-left: 20px;
margin: 0px 40px;
}
#headerlogo {
width: 332px;
height: 122px;
float: left;
background-repeat: no-repeat;
margin: 20px 20px 5px;
}
#main-menu {
background: #111 url(../images/header_bg_15x185.png);
border-top: 0px #e9e9e9 solid;
border-right: 0px #e9e9e9 solid;
border-bottom: 8px #e9e9e9 solid;
border-left: 0px #e9e9e9 solid;
display: inline-block;
text-align: center;
width: 100%;
height: 35px;
margin: 0 auto;
overflow: hidden;
position: relative;
}
#main-menu ul {
width: 100%;
height: 29px;
background: #111 url(../images/header_bg_15x185.png);
display: inline-block;
text-align: center;
 margin: 0px auto;
padding: 0;
} 
#main-menu ul li{
list-style: none;
font-family: Tahoma, Helvetica, Arial, sans-serif;
font-weight: normal;
font-size: 13pt;
line-height: 29px;
color: #efefef;
text-decoration: none;
display: inline-block;
text-align: center;
background: #111 url(../images/header_bg_15x185.png);
padding: 0px 0px;
margin: 0 auto;
}
#main-menu ul li a{
list-style-type: none;
font-family: Tahoma, Helvetica, Arial, sans-serif;
font-weight: normal;
color: #efefef;
text-decoration: none;
display: inline-block;
text-align: center;
background: #111 url(../images/header_bg_15x185.png);
line-height: 29px;
padding: 3px 10px;
margin: 0 auto;
}
#main-menu ul li a:visited {
color: #efefef;
list-style: none;
text-decoration: none;
display: inline-block;
}
#main-menu ul li a:hover {
color: #111;
line-height: 29px;
background: #e9e9e9 url(../images/header_bg_15x185.png);
list-style: none;
text-decoration: none;
display: inline-block;
}
#main-menu ul li a:active {
background: #e9e9e9 url(../images/header_bg_15x185.png);
color: #111;
list-style: none outside none;
line-height: 29px;
text-decoration: none;
display: inline-block;
}
#content {
width: 680px;
color: #3f3f3f;
margin:0;
text-align: left;
}
.content-1 {
text-align: left;
padding-top: 10px;
padding-left: 40px;
padding-bottom: 20px;
padding-right: 40px;
margin: 0;
}
/***********************/
/*      LINKS         */
/*********************/
.content-1 a{
color: blue;
text-decoration: none;
} 
.content-1 a:visited {
color: blue;
text-decoration: none;
}
.content-1 a:hover {
color: #b82530;
text-decoration: underline;
}
.content-1 a:active {
text-decoration: none;
}
/***********************/
/*  sidebar1 - right  */
/*********************/
#sidebar1 {
 float:right;
 background: url();
 width: 255px;
 margin: 0px;
 padding-top: 10px;
 margin-left: 15px;
}
#sidebar1 h2 {
 background:url("") no-repeat left center;
 color: #b82530;
 display: block;
 font: 14pt tahoma, arial, helvetica, san-serif;
 font-weight: bold;
 margin: 0px 0px 10px;
 padding: 0px 0px 0px 20px;
}
#sidebar1 ul {
 padding: 8px 10px;
 display: block;
 list-style-type: none;
}
#sidebar1 ul li {
 background:url("") no-repeat left center;
 display: block;
 margin: 2px 0px;
 padding: 0 0 0 20px;
 text-align: left;
 color: #666;
 list-style: none;
list-style-type: none;
}
#sidebar1 ul li a {
 margin: 3px 10px;
 text-align: left;
 display: block;
 color: #666;
 text-decoration: none;
 white-space:wrap;
 list-style: none;
 list-style-type: none;
}
#sidebar1 ul li a:hover {
 color: #666;
 text-decoration: underline;
}
/***********************/
/*     BLOG           */
/*********************/
#blog {
	float: left;
	width: 99%;
}
#blog h2 {
	text-align: left;
	font-size: 15pt;
	margin: 0px;
	clear: both;
}
#blog .article {
	padding: 5px 0px;
    font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4em;
	font-size: 13pt;
}
#blog  .date {
    font:10px Arial, Helvetica, sans-serif;
	color:#666666;
}
#blog .posts .comment {
	background-color:#FFCB2F;
	border: 1px solid #EDB505;
	color: #000000;
	float: left;
	padding: 3px;
	width: auto;
    margin-bottom: 10px;
}
#blog .posts .readmore {
	float: right;
	padding: 3px;
	width: auto;
}
#blogposts {
padding: 0px 0px 0px 10px;
text-align: left;
}
#blogposts ul {
	padding: 5px;
	display:block;
}
#blogposts ul li {
list-style: none;
padding: 5px 0px;
margin-left: 12px;
display:block;
text-align: left;
}
/***********************/
/*      USERNAME      */
/*********************/

.username{
       text-align: right;
       margin-top: 10px; 
       margin-right: 0px; 
       color: #efefef;
}

.username a{
       color: #EFEFEF;
       font-weight: bold;
}

.username a:visited{
       color: #EFEFEF; 
       text-decoration: none;
}

.username a:hover{
       text-decoration: underline;
}
/************************************/
/*       MEMBER RIGHT BAR ACTIVE LINKS      */  
/**********************************/

#main .content .right ul.side_menu li a.rightActive {
margin:2px 0; 
font:14px/25px Verdana,Helvetica,Arial; 
color:#666666; 
white-space:nowrap;
}

#loginbox,#forms{
-moz-border-radius: 14px;
border: 1px solid #D4D4D4;   
margin: 10px auto;   
padding: 10px; 
text-align: center; 
}

#loginbox{
width: 55%;
}

#forms{
width: 96%;
}

#loginbox table,#forms table {  
background-color: #F4F4F4;   
margin: 0 auto;   
padding: 14px;   
text-align: left;  
width: 100%;
}

/******************/
/* ERROR-SUCCESS */
/****************/
.error {	
	padding:10px 7px 10px 20px;	
	margin:10px auto;	
	width:98%;	
	margin-top:10px;		
	color:#c50000;
	font-size:14px;	
	text-align:left;	
	font-family:Verdana, Geneva, sans-serif;	
	background-color: #FFDFDF;  
	border: 1px solid #FF0000;
	/*background:url../../images/mes-box2.gif) no-repeat;*/
}
.success {
	padding:10px 7px 10px 20px;
	margin:10px auto;
	width:98%;
	margin-top:10px;
	color:#0E5F00;
	font-size:14px;
	text-align:left;
	font-family:Verdana, Geneva, sans-serif;
	background-color: #F1FFEF;
    	border: 1px solid #106F00;
   	font-weight: normal;
}
/******************/
/*  COMMENTS     */
/****************/
.comments {
	width: 94%;	
	float: left;	
	border: 0px solid #f4f4f4;	
	padding: 5px 30px;
}
.comments h3 {   
   background: #111 url(../images/header_bg_15x185.png);
   border-bottom: 0px solid #000000;
    color: #FFFFFF;
    font-size: 1em;
    padding: 9px 5px;
}
.comments .author {
	font-size: 12px;
	color: #2A6F00;
	font-weight: bold;
}
.comments .date {
	font-size: 12px;
	color: #2A2521
}
.comments .comment {
	font-size: 12px;
	padding: 5px 0px
}
.comments .url {  
	border-bottom: 1px solid #F4F4F4;
	font-size: 12px; 
	padding: 5px 0;
}
.comments .url a {
	color:#489022
}
.comments .replys {
    	background-color: #F4F4F4;
    	margin-bottom: 1px;
    	margin-left: 25px;
    	padding: 14px;
    	width: 92%;
}
/******************/
/* PRODUCTS      */
/****************/
.products {
	width: 100%;
	float: left;
	padding: 10px 0px;
	border-bottom: 1px solid #e4e4e4;
}
.products h3 {  
	background: url("../../images/headline_bg.jpg") no-repeat scroll left top transparent;
    	color: #5E4400;
    	font: 20px/33px Arial,Helvetica,sans-serif;    
    	text-indent: 4px;
    	width: 100%;
}
.products .product-price {
	font-weight: bold;
	clear: both;
}
.products .product-discription {
	padding:10px 0px;
	width: 100%;
	float: left;
}
.products .product-image {
	float: left;
	width: auto;
}
/**********************/
/*       PAGER       */
/********************/
.pages {
	width: 100%;
	float: left;
	margin: 9px 0;
}
.pages .totalpages {
	width: 200px;
	float: left;
}
.pages .pager {
	width: auto;
	text-align: center;
	margin: 0 auto;
}
.pages .pagination {
	margin: 0 auto;
	padding: 3px;
	white-space: nowrap;
	width: 233px;
}
.pages .movetop {
	width: 100%;
	float: left;
}
div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #474747;
	text-decoration: none;
	/* no underline */
	color: #474747;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #474747;
	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #000000;
	font-weight: bold;
	background-color: #000000;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #aaa;
	color: #aaa;
}
.standardRow {
	background-color:#FFFFFF;
	vertical-align:top;
}
.alternateRow {
	background-color:#F4F4F4;
	vertical-align:top;
}
.list_results_colhead, .list_results_colhead a {
	background-color:#000000;
	color:#FFFFFF !important;
	font-size:12px;
	font-weight:bold;
}
/***********************/
/*                 NEW               */
/*********************/	

.new {
background-color: #FF0000;
color: #FFFFFF;
font-size: 8px;
font-weight: normal;
padding: 1px;
}
/***********************/
/*     AFFILIATE REPORTS    */
/*********************/

#grid table {
border-right: 1px solid #C4C4C4;
border-top: 1px solid #C4C4C4;
width: 100%;
}

.content-wrap-inner {
    color: #313131;
}

#grid table tr th {
background-color: #F4F4F4;
border-bottom: 1px solid #C4C4C4;
border-left: 1px solid #C4C4C4;
color: #111111 !important;
font-weight: bold;
padding: 5px;
text-align: left;
text-transform: capitalize;
}

#grid table tr td {
border-bottom: 1px solid #C4C4C4;
border-left: 1px solid #C4C4C4;
padding: 2px;
text-align: left;
}

.standardRow {
background-color: #FFFFFF;
vertical-align: top;
}

.summary table {
border-left: 1px solid #C4C4C4;
border-right: 1px solid #C4C4C4;
border-top: 1px solid #C4C4C4;
margin: 10px 0;
}

.summary table tr th {
background-color: #F4F4F4;
border-bottom: 1px solid #C4C4C4;
padding: 4px;
text-align: left;
}

.summary table tr td {
border-bottom: 1px solid #C4C4C4;
padding: 5px 20px;
text-align: center;
}

.login-top-message {
background-color: #FFDFDF;
border: 1px solid #FF0000;
color: #C50000;
font-family: Verdana,Geneva,sans-serif;
font-size: 14px;
margin: 10px auto;
padding: 7px 7px 7px 20px;
text-align: left;
width: 96%;
}

/***********************/
/*   FOOTER           */
/*********************/
#page-shadow {
clear: both;
height: 26px;
background-image: url(../images/page_footer_shadow.png);
background-repeat: no-repeat;
background-position: center;
width: 750px;
position: relative;
margin-top: 0px;
margin-left: auto;
margin-right: auto;
padding-top: 0;
}
#pagefooter {
background: #a20000 url(../images/bg_footer_15x54.png) repeat top left;
border-top: 8px #d9d9d9 solid;
width: 100%;
height: 80px;
clear: both;
}
#pagefooter p {
text-align: center;
color: #efefef;
padding-top: 10px;
padding-bottom: 10px;
margin: 0 auto;
}
#footer {
text-align: center;
color: #757575;
width: 746px;
margin: 20px auto;
}
#footerstrip {
height: 20px;
background: #111 url(../images/header_bg_15x185.png) repeat top left;
position: relative;
}
#footer p {
font-family: Arial, Verdana, Helvetica, sans-serif;
color: #757575;
font-size: 12pt;
line-height: 1.4em;
}
#footer .menu{
width: 100%;
text-align: center;
}
#footer .menu ul{
margin: 10px auto;
padding: 0px;
}
#footer .menu  ul li{ 
display: inline; 
list-style: none;
}
#footer .menu  ul li a{
padding: 2px 5px;
background: none;
text-decoration: none;
color: #757575;
}
#footer .menu  ul li a:visited {
text-decoration: none;
}
#footer .menu  ul li a:hover {
background-color: #efefef;
text-decoration: underline;
}
#footer .menu  ul li a:active {
text-decoration: none;
}
/***********************/
/*      COPYRIGHT     */
/*********************/
#footer p.copyright {
color: #757575;
font-family: Tahoma,Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size: 9px;
padding: 9px 0;
text-transform: uppercase;
}
/***********************/
/*      POWERED BY    */
/*********************/
#rrp-logo {
margin: 5px auto;
width:178px;
height:30px;
position: relative;
text-decoration: none;
}
#bottomstrip {
 height: 45px;
 width: 100%;
 background: #111 url() repeat-x;
 margin-top: 20px;
 margin-bottom: 0px;
}
#bottomstrip p {
 color: #efefef;
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;
}