/*****************************/
/* RRP "simpleplus1member" CSS  */
/***************************/
body {
margin: 0;
padding: 0;
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 13pt;
line-height: 1.4em;
color: #666666;
background-color: #f5f5f5;
}
p {
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 13pt;
line-height: 1.4em;
color: #666666;
padding-left: 20px;
padding-right: 20px;
}
h1 {
color: #b82530;
font-family: Tahoma, Arial, sans-serif;
font-size: 20pt;
font-weight: bold;
text-align: center;
line-height: 1.4em;
letter-spacing: 3px;
margin-top: 0px;
}
h2 {
color: #b82530;
font-family: Tahoma, Arial, sans-serif;
font-size: 17pt;
font-weight: bold;
text-align: center;
line-height: 1.2em;
}
h3 {color: #b82530;
font-family: Tahoma, Arial, sans-serif;
font-size: 15pt;
font-weight: bold;
text-align: center;
line-height: 1.4em;
}
/***************/
/*     Top Strip     */
/*************/
#topstrip {
 height: 45px;
 width: 100%;
 background: #111 url() repeat-x;
 margin-top: 0px;
 margin-bottom: 5px;
 overflow: hidden;
}
#topstrip p {
 width:100%;
 line-height: 25px;
 color: #efefef;
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;
 margin: 0px;
 overflow: hidden;
}
/*****************/
/*     Top Header     */
/***************/
#topheader {
background: #f5f5f5 url();
border-top: 0px #e9e9e9 solid;
border-right: 0px #e9e9e9 solid;
border-bottom: 0px #e9e9e9 solid;
border-left: 0px #e9e9e9 solid;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
width: 946px;
height: 165px;
margin-top: 0px;
margin-left: auto;
margin-right: auto;
margin-bottom: 0px;
overflow:hidden;
}
.float_r h2 {
color: #666;
font-family: Tahoma, Arial, sans-serif;
font-size: 16pt;
font-weight: bold;
line-height: 1.5em;
letter-spacing: 3px;
text-align: right;
padding-top: 5px;
padding-left: 20px;
padding-right: 20px;
margin-top: 0;
}
/*********************/
/*     Top Header Logo    */
/*******************/
#topheaderlogo {
width: 308px;
height: 112px;
float: left;
background-repeat: no-repeat;
margin: 5px 10px;
}
/*****************/
/*     Header Strip    */
/****************/
#header-strip {
background: #f5f5f5 url();
border-top: 0px #e9e9e9 solid;
border-right: 0px #e9e9e9 solid;
border-bottom: 0px #e9e9e9 solid;
border-left: 0px #e9e9e9 solid;
width: 100%;
height: 30px;
margin-top: 0px;
margin-left: auto;
margin-right: auto;
overflow: hidden;
position: relative;
}
#header-strip p{
text-align: right;
padding: 5px 20px;
color: #666;
margin: 0px auto;
}
#header-strip ul {
width: 100%;
height: 30px;
background: #f5f5f5 url();
display: inline-block;
text-align: center;
margin: 0 0 0 -40px;
} 
#header-strip ul li{
list-style: none;
font-family: Tahoma, Helvetica, Arial, sans-serif;
font-weight: normal;
font-size: 13pt;
color: #666;
text-decoration: none;
display: inline-block;
text-align: center;
background: #f5f5f5 url();
padding: 0px 0px;
margin: 0 auto;
position: relative;
}
#header-strip ul li a{
list-style-type: none;
font-family: Tahoma, Helvetica, Arial, sans-serif;
font-weight: normal;
color: #666;
line-height: 24px;
text-decoration: none;
display: inline-block;
text-align: center;
background: #f5f5f5 url();
padding: 3px 5px;
margin: 0 auto;
overflow: hidden;
}
#header-strip ul li a:visited {
color: #666;
list-style-type: none;
text-decoration: none;
display: inline-block;
}
#header-strip ul li a:hover {
color: #666;
background-color: #d9d9d9;
list-style: none outside none;
line-height: 24px;
text-decoration: none;
display: inline-block;
}
/*****************/
/*      USERNAME     */
/***************/
.username{
       text-align: right;
       margin-top: 10px; 
       margin-right: 0px; 
       color: #666;
}
.username a:link{
       color: blue;
       font-weight: bold;
       text-decoration: none;
}
.username a:visited{
       color: blue; 
       text-decoration: none;
}
.username a:hover{
       text-decoration: underline;
}

/******************/
/*     Header Menu    */
/****************/
#headermenu {
background: #f5f5f5 url();
border-top: 0px #e9e9e9 solid;
border-right: 0px #e9e9e9 solid;
border-bottom: 0px #e9e9e9 solid;
border-left: 0px #e9e9e9 solid;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
width: 946px;
height: 35px;
margin-top: 0px;
margin-left: auto;
margin-right: auto;
margin-bottom: -30px;
overflow:hidden;
}
#headermenu ul {
width: 100%;
height: 35px;
background: #f5f5f5 url();
display: inline-block;
text-align: left;
margin: 0 0 0 -40px;
} 
#headermenu ul li{
list-style: none;
font-family: Tahoma, Helvetica, Arial, sans-serif;
font-weight: normal;
font-size: 13pt;
color: #666;
text-decoration: none;
display: inline-block;
text-align: left;
background: #f5f5f5 url();
padding: 3px 8px;
margin: 0 auto;
position: relative;
}
#headermenu ul li a{
list-style-type: none;
font-family: Tahoma, Helvetica, Arial, sans-serif;
font-weight: normal;
color: #666;
line-height: 29px;
text-decoration: none;
display: inline-block;
text-align: left;
background: #f5f5f5 url();
padding: 3px 8px;
margin: 0 auto;
overflow: hidden;
}
#headermenu ul li a:visited {
color: #666;
list-style-type: none;
text-decoration: none;
display: inline-block;
}
#headermenu ul li a:hover {
color: #111;
background-color: #d9d9d9;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
list-style: none outside none;
line-height: 29px;
text-decoration: none;
display: inline-block;
}
#headermenu ul li a:active {
background-color: #d9d9d9;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
color: #111;
list-style: none outside none;
text-decoration: none;
display: inline-block;
}
/******************/
/*     Page Shadow    */
/*****************/
#page-shadow {
height: 23px;
background-image: url(../images/page_footer_shadow.png);
background-repeat: no-repeat;
background-position: center;
width: 750px;
position: relative;
top: 0px;
margin-left: auto;
margin-right: auto;
}
/**********************/
/*       Float       */
/********************/
.float_l {
	float:left !important;
}
#topheader .float_r {
    float:right !important;
    margin-top: 5px;
    margin-right: 20px;
    color: #CCCCCC;
    text-align: right;
}

/*******************/
/*      Main Content     */
/*****************/
#maincontent {
background: #ffffff url(../images/bg_mainandside_946x1.png);
border-top: 8px #d9d9d9 solid;
border-right: 8px #d9d9d9 solid;
border-bottom: 8px #d9d9d9 solid;
border-left: 8px #d9d9d9 solid;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
width: 946px;
min-height: 250px;
height: 100%;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
padding: 0;
overflow:hidden;
}
/**************/
/*     Content    */
/************/
#content {
width: 680px;
color: #3f3f3f;
margin:0;
text-align: left;
}
.content-1 {
text-align: left;
padding-top: 10px;
padding-left: 40px;
padding-bottom: 20px;
padding-right: 40px;
margin: 0;
}
/***********************/
/*  sidebar1 - right  */
/*********************/
#sidebar1 {
 float:right;
 background: url();
 width: 255px;
 margin: 0px;
 padding-top: 10px;
 margin-left: 10px;
}
#sidebar1 h2 {
 color: #b82530;
 font-family: tahoma, arial, helvetica, san-serif;
 font-size: 14pt;
 font-weight: bold;
 margin: 0px auto 8px;
 padding:0;
}
#sidebar1 ul {
padding: 8px 30px 25px 30px;
margin: 0;
display: block;
}
#sidebar1 ul li {
 margin: 3px 10px;
 text-align: left;
display: block;
 color: #666;
 list-style: none;
}
#sidebar1 ul li a {
 text-align: left;
 display: block;
 color: #666;
 text-decoration: none;
}
#sidebar1 ul li a:hover {
text-decoration: underline;
}
#sidebar1 .instruction h2 { 
 margin-top: 0px;  
 color: #b82530;
 font-family: tahoma, arial, helvetica, san-serif;
 font-size: 14pt;
 font-weight: bold;
 background:url("") no-repeat left center;
}
#sidebar1 .instruction a{
 font-family: Arial, Verdana, Helvetica, sans-serif;
 font-size: 13pt;
 color: #666; 
 white-space:wrap;
}
#sidebar1.mydownloads h2 {
 margin-top: 20px; 
 color: #b82530;
 font-family: tahoma, arial, helvetica, san-serif;
 font-size: 14pt;
 font-weight: bold;
 background:url("") no-repeat left center;
}
#sidebar1 .mydownloads a{
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 13pt;
color: #666;
white-space:wrap;
display: inline-block;
}
#sidebar1 .newproducts h2 {
 margin-top: 20px; 
 color: #b82530;
 font-family: tahoma, arial, helvetica, san-serif;
 font-size: 14pt;
 font-weight: bold;
 background:url("") no-repeat left center;
}
#sidebar1 .newproducts a{
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 13pt;
color: #666;
white-space:wrap;
}
#sidebar1 .spacer {
margin: -15px auto;
}
/************************************/
/*       MEMBER RIGHT BAR ACTIVE LINKS      */  
/**********************************/
#main .content .right ul.side_menu li a.rightActive {
margin:2px 0; 
font:14px/25px Verdana,Helvetica,Arial; 
color:#666666; 
white-space:nowrap;
}
#loginbox,#forms{
-moz-border-radius: 14px;
border: 1px solid #D4D4D4;   
margin: 10px auto;   
padding: 10px; 
text-align: center; 
}
#loginbox{
width: 55%;
}
#forms{
width: 96%;
}
#loginbox table,#forms table {  
background-color: #F4F4F4;   
margin: 0 auto;   
padding: 14px;   
text-align: left;  
width: 100%;
}
/******************/
/*      main-menu      */
/****************/
#main-menu ul {
width: 700px;
display: inline-block;
text-align: center;
margin: 0 auto;
} 
#main-menu ul li{
list-style-type: none;
font-family: Tahoma, Helvetica, Arial, sans-serif;
font-weight: normal;
font-size: 13pt;
color: #333333;
text-decoration: none;
display: inline-block;
text-align: center;
background-color: #ffffff;
padding: 3px 5px;
margin: 0 auto;
}
#main-menu ul li a{
list-style-type: none;
font-family: Tahoma, Helvetica, Arial, sans-serif;
font-weight: normal;
color: #000000;
text-decoration: none;
display: inline-block;
text-align: center;
background-color: #ffffff;
padding: 3px 5px;
margin: 0 auto;
}
#main-menu ul li a:visited {
color: #333333;
list-style-type: none;
text-decoration: none;
display: inline-block;
}
#main-menu ul li a:hover {
color: #333333;
background-color: #f4f4f4;
list-style: none outside none;
text-decoration: none;
display: inline-block;
}
#main-menu ul li a:active {
background-color: #f4f4f4;
list-style: none outside none;
text-decoration: none;
display: inline-block;
}
/**************/
/*      BLOG       */
/************/

/******************/
/* ERROR-SUCCESS */
/****************/
.error {	
	padding:10px 7px 10px 20px;	
	margin:10px auto;	
	width:98%;	
	margin-top:10px;		
	color:#c50000;
	font-size:14px;	
	text-align:left;	
	font-family:Verdana, Geneva, sans-serif;	
	background-color: #FFDFDF;  
	border: 1px solid #FF0000;
	/*background:url../../images/mes-box2.gif) no-repeat;*/
}
.success {
	padding:10px 7px 10px 20px;
	margin:10px auto;
	width:98%;
	margin-top:10px;
	color:#0E5F00;
	font-size:14px;
	text-align:left;
	font-family:Verdana, Geneva, sans-serif;
	background-color: #F1FFEF;
    	border: 1px solid #106F00;
   	font-weight: normal;
}
/***********************/
/*                 NEW               */
/*********************/	

.new {
background-color: #FF0000;
color: #FFFFFF;
font-size: 8px;
font-weight: normal;
padding: 1px;
}
/***********************/
/*     AFFILIATE REPORTS    */
/*********************/
#grid table {
border-right: 1px solid #C4C4C4;
border-top: 1px solid #C4C4C4;
width: 100%;
}
.content-wrap-inner {
    color: #313131;
}
#grid table tr th {
background-color: #F4F4F4;
border-bottom: 1px solid #C4C4C4;
border-left: 1px solid #C4C4C4;
color: #111111 !important;
font-weight: bold;
padding: 5px;
text-align: left;
text-transform: capitalize;
}
#grid table tr td {
border-bottom: 1px solid #C4C4C4;
border-left: 1px solid #C4C4C4;
padding: 2px;
text-align: left;
}
.standardRow {
background-color: #FFFFFF;
vertical-align: top;
}
.summary table {
border-left: 1px solid #C4C4C4;
border-right: 1px solid #C4C4C4;
border-top: 1px solid #C4C4C4;
margin: 10px 0;
}
.summary table tr th {
background-color: #F4F4F4;
border-bottom: 1px solid #C4C4C4;
padding: 4px;
text-align: left;
}
.summary table tr td {
border-bottom: 1px solid #C4C4C4;
padding: 5px 20px;
text-align: center;
}
.login-top-message {
background-color: #FFDFDF;
border: 1px solid #FF0000;
color: #C50000;
font-family: Verdana,Geneva,sans-serif;
font-size: 14px;
margin: 10px auto;
padding: 7px 7px 7px 20px;
text-align: left;
width: 96%;
}
/***************/
/*  COMMENTS    */
/*************/
.comment {
	width: 93%;	
	float: left;	
	border: 0px solid #f4f4f4;	
	padding: 5px 30px;
}
.comment h3 {   
	background-color: #000;
   	border-bottom: 1px solid #000000;
    	color: #FFFFFF;
    	font-size: 1em;
    	padding: 9px 5px;
}
.comment .author {
	font-size: 12px;color: #2A6F00;
	font-weight: bold;
}
.comment .date {
	font-size: 12px;color: #2A2521
}
.comments .comment {
	font-size: 12px;
	padding: 5px 0px
}
.comment .url {  
	border-bottom: 1px solid #F4F4F4;
	font-size: 12px; 
	padding: 5px 0;
}
.comment .url a {
	color:#489022
}
.comment .replys {
    	background-color: #F4F4F4;
    	margin-bottom: 1px;
    	margin-left: 25px;
    	padding: 14px;
    	width: 92%;
}
/*************/
/*  PRODUCTS */
/***********/
.products {
	width: 100%;
	float: left;
	padding: 10px 0px;
	border-bottom: 1px solid #e4e4e4;
}
.products h3 {  
	background: url("../../images/headline_bg.jpg") no-repeat scroll left top transparent;
    	color: #5E4400;
    	font: 20px/33px Arial,Helvetica,sans-serif;    
    	text-indent: 4px;
    	width: 100%;
}
.products .product-price {
	font-weight: bold;clear: both;
}
.products .product-discription {
	padding:10px 0px;
	width: 100%;
	float: left;
}
.products .product-image {
	float: left;
	width: auto;
}
/***************/
/*       PAGER       */
/*************/
.pages {
	width: 100%;
	float: left;
	margin: 9px 0;
}
.pages .totalpages {
	width: 200px;
	float: left;
}
.pages .pager {
	width: auto;
	text-align: center;
	margin: 0 auto;
}
.pages .pagination {
	margin: 0 auto;
	padding: 3px;
	white-space: nowrap;
	width: 233px;
}
.pages .movetop {
	width: 100%;
	float: left;
}
div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #474747;
	text-decoration: none;
	/* no underline */
	color: #474747;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #474747;
	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #000000;
	font-weight: bold;
	background-color: #000000;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #aaa;
	color: #aaa;
}
.standardRow {
	background-color:#FFFFFF;
	vertical-align:top;
}
.alternateRow {
	background-color:#F4F4F4;
	vertical-align:top;
}
.list_results_colhead, .list_results_colhead a {
	background-color:#000000;
	color:#FFFFFF !important;
	font-size:12px;
	font-weight:bold;
}
/***********************/
/*               LINKS                */
/*********************/
#maincontent a, #content a, a:link {
color: #000000;
text-decoration: underline;
} 
a:visited {
color: #000000;
text-decoration: none;
}
a:hover {
color: #000000;
background-color: none;
text-decoration: underline;
}
a:active {
background-color: none;
text-decoration: underline;
}
/************/
/*   FOOTER   */
/***********/
#pagefooter {
background: #3f3f3f url() repeat top left;
border-top: 8px #efefef solid;
width: 100%;
height: 60px;
}
#pagefooter p {
text-align: center;
color: #efefef;
padding-top: 10px;
padding-bottom: 10px;
margin: 0 auto;
}
#footer {
text-align: center;
color: #757575;
width: 746px;
margin: 20px auto;
}
#footer p {
font-family: Arial, Verdana, Helvetica, sans-serif;
color: #757575;
font-size: 12pt;
line-height: 1.4em;
}
#footer .menu{
width: 100%;
float: left;
}
#footer .menu ul{
margin: 10px auto;
padding: 0px;
}
#footer .menu  ul li{ 
display: inline; 
list-style: none;
}
#footer .menu  ul li a{
padding: 2px 5px;
background: none;
text-decoration: none;
color: #757575;
}
#footer .menu  ul li a:visited {
text-decoration: none;
}
#footer .menu  ul li a:hover {
background-color: #efefef;
text-decoration: underline;
}
#footer .menu  ul li a:active {
text-decoration: none;
}
/*****************/
/*      COPYRIGHT    */
/***************/
#footer p.copyright {
color: #757575;
font-family: Tahoma,Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size: 9px;
padding: 9px 0;
text-transform: uppercase;
}
/******************/
/*     POWERED BY    */
/****************/
#rrp-logo {
margin: 5px auto;
width:178px;
height:30px;
position: relative;
text-decoration: none;
}
/******************/
/*     Bottom Strip     */
/****************/
#bottomstrip {
 height: 45px;
 width: 100%;
 background: #333 url() repeat-x;
 margin-top: 20px;
 margin-bottom: 0px;
}
#bottomstrip p {
 color: #efefef;
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;
}