<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="description" content="{$settings_description}" />
	<meta name="keywords" content="{$settings_keywords}" />
	{$settings_meta}
	<title>{$settings_sitename}</title>
	<link type="text/css" rel="stylesheet" href="/templates/defaultsales/css/template.css"/>
	{$template_defaultsales_css}
	{$settings_tracking}
</head>
<body>
<div id="wrap">

<div id="header">
<div id="header-strip">
<div class="wrap">

<div class="top_text">
<p>{$settings_tagline}</p>
<p class="version float_r"></p>
</div><!-- end of top_text -->				

<h1><img src="/images/{$settings_logo}" alt="Logo" title="{$settings_tagline}" height="120" /></h1>	
</div><!-- end of wrap -->
</div><!-- end of header-strip -->
</div><!-- end of header -->	
	
<div id="main">
<div id="top-row1">
<div class="menu">
<div class="main_menu">				
</div><!-- end of main menu -->
</div><!-- end of menu -->
</div><!-- end of top-row1 -->
			
<div id="top-row2">
</div><!-- end of top-row2 -->				

<div class="wrap"> 
<div class="wrap1">
<div class="content">
<div class="wrap2">
{$content}	
</div><!-- end of wrap2 -->	
</div><!-- end of content -->
</div><!-- end wrap1-->
</div><!-- end of wrap -->
</div><!-- end of main -->		
		
<div id="footer">
<div class="menu">{$menu_footer}</div>
<p align="center" class="copyright"> &copy; 2012 -
<SCRIPT LANGUAGE="JavaScript">
  <!--- Hide from old browsers
    today=new Date();
    year=today.getFullYear();
    document.write(year);
  // end hiding --->
</SCRIPT> All Rights Reserved</p>		
<div id="rrp-logo"><a href="http://www.rapidresidualpro.com"><img src="http://www.rapidresidualpro.com/images/powered_by_rrp1.png" border="none"></a>
</div><!-- end of rrp-logo -->
</div><!-- end of footer -->
</div><!-- end of wrap -->
</body>
</html>																												