/*Rapid Residual Pro flex1member*/
body, html {
margin: 0;
padding: 0;
}

body {
background-color: #efefef;
color: #666666;
font-family: Arial, Helvetica, sans-serif;
font-size: 13pt;
background-image: url();
margin: 0;
line-height: 1.3em;}

/*Page Background - TOP*/

#page-bg-top {
height: 217px;
width: 100%;
background: #0002b2 url(../images/transparent_bg_bottom_up_dk_225x1.png);
border-bottom: 0px #fcb206 solid;
background-repeat: repeat-x;}

/*Container*/

#container {
width: 960px;
margin: 0 auto;
}
#header-strip {
background: # url();
border-top: 0px #e9e9e9 solid;
border-right: 0px #e9e9e9 solid;
border-bottom: 0px #e9e9e9 solid;
border-left: 0px #e9e9e9 solid;
width: 100%;
height: 35px;
margin-top: 0px;
margin-left: auto;
margin-right: auto;
overflow: hidden;
position: relative;
}
#header-strip p{
text-align: right;
padding: 5px 20px;
color: #efefef;
margin: 0px auto;
}
#header-strip ul {
width: 100%;
height: 35px;
background: #111 url(../images/header_bg_15x185.png);
display: inline-block;
text-align: center;
margin: 0 0 0 -40px;
} 
#header-strip ul li{
list-style: none;
font-family: Tahoma, Helvetica, Arial, sans-serif;
font-weight: normal;
font-size: 13pt;
color: #efefef;
text-decoration: none;
display: inline-block;
text-align: center;
background: #111 url(../images/header_bg_15x185.png);
padding: 0px 0px;
margin: 0 auto;
position: relative;
}
#header-strip ul li a{
list-style-type: none;
font-family: Tahoma, Helvetica, Arial, sans-serif;
font-weight: normal;
color: #efefef;
line-height: 29px;
text-decoration: none;
display: inline-block;
text-align: center;
background: #111 url(../images/header_bg_15x185.png);
padding: 3px 5px;
margin: 0 auto;
overflow: hidden;
}
#header-strip ul li a:visited {
color: #efefef;
list-style-type: none;
text-decoration: none;
display: inline-block;
}
#header-strip ul li a:hover {
color: #efefef;
background-color: #aa2000;
list-style: none outside none;
line-height: 29px;
text-decoration: none;
display: inline-block;
}
/**********************/
/*       Float       */
/********************/

.float_l {
	float:left !important;
}

.float_r {
    float:right !important;
    margin-top: 6px;
    margin-right: 20px;
    color: #CCCCCC;
    text-align: right;
}
/***********************/
/*      USERNAME      */
/*********************/


.username{
       text-align: right;
       margin-top: 10px; 
       margin-right: 0px; 
       color: #efefef;
}

.username a{
       color: #aa8000;
       font-weight: bold;
}

.username a:visited{
       color: #aa8000; 
       text-decoration: none;
}

.username a:hover{
       background-color: none;
       text-decoration: underline;
}
/**
/************************************/
/*       MEMBER RIGHT BAR ACTIVE LINKS      */  
/**********************************/

#main .content .right ul.side_menu li a.rightActive {
margin:2px 0; 
font:14px/25px Verdana,Helvetica,Arial; 
color:#666666; 
white-space:nowrap;
}

#loginbox,#forms{
-moz-border-radius: 14px;
border: 1px solid #D4D4D4;   
margin: 10px auto;   
padding: 10px; 
text-align: center; 
}

#loginbox{
width: 55%;
}

#forms{
width: 96%;
}

#loginbox table,#forms table {  
background-color: #F4F4F4;   
margin: 0 auto;   
padding: 14px;   
text-align: left;  
width: 100%;
}
#clear {
clear: both;}

/*Main Header*/

#outer-image {
height: 146px;
padding-top: 0px;
background: # url();
width: 100%;
border-bottom: 0px #fcb206 solid;
border-right: 0px #005382 solid;
border-left: 0px #005382 solid;
-webkit-border-top-right-radius: 10px;
-webkit-border-top-left-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-topleft: 10px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
background-repeat: repeat-x;
position: relative;
}
#outer-image h2{
text-align: right;
margin: 10px 10px 30px 10px;
color: #efefef;
padding-right: 20px;
}

#inner-image {
height: 145px;
width: 100%;
border: none;
background-repeat: no-repeat;
text-align: left;
padding: 0px;
margin: 0px;
}
#logo {
float: left;
background-repeat: no-repeat;
width: 273px;
height: 122px;
margin: 20px 0 0 20px;
}
/*Main Container for Page and Navigation Menu*/

#content {
margin: 0px auto;
background: #FFF url(../images/main_bg_948x1.png);
border-left: 8px #ccc solid;
border-bottom: 8px #ccc solid;
border-right: 8px #ccc solid;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
width: 943px;
padding-top: 0px;
min-height: 250px;
height: 100%;
position: relative;
overflow: hidden;
}

/*Main Navigation*/

#main-nav ul { 
	margin: 0;
	width: 952px;
	background: #0002b2 url(../images/transparent_bg_bottom_up_50x1.png);
    border-left: 0px #028fde solid;
    border-right: 0px #028fde solid;
	display: inline-block;
	color: #FFF;
	text-align: left;
    line-height: 35px;
	padding: 0px 0px 0px 8px;
	position: relative;
}
#main-nav ul li {
	list-style-type: none;
	margin: 0px;
	font-size: 12pt;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-weight: normal;
        line-height: 35px;
	color: #FFF;
	display: inline-block;
	text-align: left;
	padding-left: 3px;
	padding-right: 8px;
	position: relative;
}
#main-nav ul li a {
	text-decoration: none;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	display: inline-block;
	color: #ffffff;
}
#main-nav ul li a:visited {
	text-decoration: none;
}
#main-nav ul li a:hover {
	font-weight: bold;
	background: none;
	color: #FCD116;
	text-decoration: none;
	display: inline-block;
    height: 35px;
	padding-left: 3px;
	padding-right: 3px;
}
#main-nav ul li a:active {
	background: #FFF url();
	font-weight: bold;
	color: #666;
	text-decoration: none;
	display: inline-block;
    height: 36px;
	padding-left: 3px;
	padding-right: 3px;
}
/*Main Content Area*/

#main-text {
width: 700px;
min-height: 250px;
height: 100%;
padding-left: 0px;
padding-top: 0px;
padding-right: 0px;
margin: 0 auto;
float: left;}

.content-1{
margin: 0 auto;
padding: 15px 40px;
}
.content-1 h1{
margin: 0px;
font-size: 20pt;
letter-spacing: 3px;
font-weight: bold;
color: #9f0000;
font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;}
}
h1 {
font-size: 20pt;
letter-spacing: 3px;
font-weight: bold;
color: #9f0000;
font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;}

h2 {
font-size: 17pt;
letter-spacing: 3px;
font-weight: bold;
color: #9f0000;
font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;}

p {
font-size: 13pt;
line-height: 1.4em;}

a:link {
color: #000000;
text-decoration: none;} 

a:visited {
color: #000000;
text-decoration: none;}

a:hover {
background-color: #c5defe;
text-decoration: underline;}

/***********************/
/*  sidebar1 - right  */
/*********************/
#sidebar1 {
 float:right;
 background: url();
 width: 232px;
 margin: 0px;
 padding-top: 15px;
}
#sidebar1 h2 {
 color: #b82530;
 background:url("../images/icon_paper.jpg") no-repeat left center;
 font: 14pt tahoma, arial, helvetica, san-serif;
 font-weight: bold;
 margin: 0px 0px 10px 0px;
 padding: 3px 3px 3px 27px;
}
#sidebar1 ul {
 padding: 5px 5px 25px 0px;
 margin: 0;
 display: block; 
}
#sidebar1 ul li {
 margin: 3px 0px;
 padding-left: 5px;
 background: url("../images/icon_paper_02.jpg") no-repeat left center;
 text-align: left;
 color: #666;
 list-style: none;
}
#sidebar1 ul li a {
 margin: 3px 10px;
 text-align: left;
 color: #666;
 text-decoration: none;
}
#sidebar1 ul li a:hover {
 color: #666;
 text-decoration: underline;
}
#sidebar1 .instruction h2 { 
 margin-top: 0px; 
 margin-bottom: 0px; 
 color: #b82530;
 font-family: tahoma, arial, helvetica, san-serif;
 font-size: 14pt;
 font-weight: bold;
 background:url("../images/icon_paper.jpg") no-repeat left center;
}
#sidebar1 .instruction a{
 font-family: Arial, Verdana, Helvetica, sans-serif;
 font-size: 13pt;
 color: #666; 
 white-space:wrap;
}
#sidebar1 .mydownloads h2 {
 margin-top: 20px; 
 color: #b82530;
 font-family: tahoma, arial, helvetica, san-serif;
 font-size: 14pt;
 font-weight: bold;
 background:url("../images/icon_paper.jpg") no-repeat left center;
}
#sidebar1 .mydownloads a{
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 13pt;
color: #666;
white-space:wrap;
display: inline-block;
}
#sidebar1 .newproducts h2 {
 margin-top: 20px; 
 color: #b82530;
 font-family: tahoma, arial, helvetica, san-serif;
 font-size: 14pt;
 font-weight: bold;
 background:url("../images/icon_paper.jpg") no-repeat left center;
}
#sidebar1 .newproducts a{
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 13pt;
color: #666;
white-space:wrap;
}
#sidebar1 .spacer {
margin: -8px auto;
}
/***********************/
/*    NEW             */
/*********************/	

.new {
background-color: #FF0000;
color: #FFFFFF;
font-size: 8px;
font-weight: normal;
padding: 1px;
}
/***********************/
/*     AFFILIATE REPORTS    */
/*********************/

#grid table {
border-right: 1px solid #C4C4C4;
border-top: 1px solid #C4C4C4;
width: 100%;
}

.content-wrap-inner {
    color: #313131;
}

#grid table tr th {
background-color: #F4F4F4;
border-bottom: 1px solid #C4C4C4;
border-left: 1px solid #C4C4C4;
color: #111111 !important;
font-weight: bold;
padding: 5px;
text-align: left;
text-transform: capitalize;
}

#grid table tr td {
border-bottom: 1px solid #C4C4C4;
border-left: 1px solid #C4C4C4;
padding: 2px;
text-align: left;
}

.standardRow {
background-color: #FFFFFF;
vertical-align: top;
}

.summary table {
border-left: 1px solid #C4C4C4;
border-right: 1px solid #C4C4C4;
border-top: 1px solid #C4C4C4;
margin: 10px 0;
}

.summary table tr th {
background-color: #F4F4F4;
border-bottom: 1px solid #C4C4C4;
padding: 4px;
text-align: left;
}

.summary table tr td {
border-bottom: 1px solid #C4C4C4;
padding: 5px 20px;
text-align: center;
}

.login-top-message {
background-color: #FFDFDF;
border: 1px solid #FF0000;
color: #C50000;
font-family: Verdana,Geneva,sans-serif;
font-size: 14px;
margin: 10px auto;
padding: 7px 7px 7px 20px;
text-align: left;
width: 96%;
}

/*Footer*/

.footer .menu{
clear: both;
font-size: 12pt;
text-align: center;
font-weight: normal;
color: #7f7f7f;
margin: 25px auto;
}
.footer ul{
display: inline-block;
text-align: center;
}
.footer ul li{
margin: 0 10px;
list-style-type:none;
display: inline-block;
text-align: center;
}
p.footer {
font-size: 12pt;
text-align: center;
font-weight: normal;
color: #7f7f7f;
margin: 0 auto;
margin: 0 0 20px 0;
}
.footer ul li a:link{
color: #000000;
text-decoration: none;
display: inline-block;
font-weight: normal;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 5px;
padding-right: 5px;
}
.footer ul li a:visited {
color: #000000;
text-decoration: none;
}
.footer li a:hover {
background: #cccccc;
}
.footer ul li a:active {
text-decoration: none;
}

/******************/
/*  BLOG         */
/****************/


/******************/
/* ERROR-SUCCESS */
/****************/
.error {	
	padding:10px 7px 10px 20px;	
	margin:10px auto;	
	width:98%;	
	margin-top:10px;		
	color:#c50000;
	font-size:14px;	
	text-align:left;	
	font-family:Verdana, Geneva, sans-serif;	
	background-color: #FFDFDF;  
	border: 1px solid #FF0000;
	/*background:url../../images/mes-box2.gif) no-repeat;*/
}
.success {
	padding:10px 7px 10px 20px;
	margin:10px auto;
	width:98%;
	margin-top:10px;
	color:#0E5F00;
	font-size:14px;
	text-align:left;
	font-family:Verdana, Geneva, sans-serif;
	background-color: #F1FFEF;
    border: 1px solid #106F00;
   	font-weight: normal;
}

/******************/
/*  COMMENTS     */
/****************/
.comment {
	width: 93%;	
	float: left;	
	border: 0px solid #f4f4f4;	
	padding: 5px 20px;
	font-size: 12px;
        margin-left: 0 auto;
}
.comment h3 {   
	background: #0002b2 url(../images/transparent_bg_bottom_up_50x1.png);
   	border-bottom: 0px solid #cccccc;
    color: #fcb206;
    font-size: 16pt;
    padding: 9px 5px;
}
.comment .author {
	font-size: 12px;color: #2A6F00;
	font-weight: bold;
}
.comment .date {
	font-size: 12px;color: #2A2521
}
.comment .url {  
	border-bottom: 1px solid #F4F4F4;
	font-size: 12px; 
	padding: 5px 0;
}
.comment .url a {
	color:#489022
}
.comment .replys {
    	background-color: #F4F4F4;
    	margin-bottom: 1px;
    	margin-left: 25px;
    	padding: 14px;
    	width: 92%;
}


/******************/
/* PRODUCTS      */
/****************/
.products {
	width: 100%;
	float: left;
	padding: 10px 0px;
	border-bottom: 1px solid #e4e4e4;
}
.products h3 {  
	background: url("../images/headline_bg.jpg") no-repeat scroll left top transparent;
    	color: #5E4400;
    	font: 20px/33px Arial,Helvetica,sans-serif;    
    	text-indent: 4px;
    	width: 100%;
}
.products .product-price {
	font-weight: bold;clear: both;
}
.products .product-discription {
	padding:10px 0px;
	width: 77%;
	float: left;
}
.products .product-image {
	float: left;
	width: auto;
}

/******************/
/*    PAGER      */
/****************/
.pager {
	width: auto;
	padding: 0px 0px; 
	text-align: center;
	margin-top: -1px;
}
.pager .totalpage {
	width: auto;
	float: left;
}
.pager .page {
	width: auto;
	float: left;
}
/***********************/
/*      COPYRIGHT     */
/*********************/
.footer p.copyright {
color: #757575;
font-family: Tahoma,Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size: 9px;
padding: 9px 0;
text-transform: uppercase;
}
/***********************/
/*      POWERED BY     */
/*********************/
#rrp-logo {
margin: 5px auto;
width:178px;
height:30px;
position: relative;
background: none;
text-decoration: none;
}
#rrp-logo a {
background: none;
text-decoration: none;
}