<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="description" content="{$settings_description}" />
	<meta name="keywords" content="{$settings_keywords}" />
	<title>{$settings_sitename}</title>
	<link type="text/css" rel="stylesheet" href="/templates/thesalespage2/css/template.css"/>
	{$settings_meta}
	{$template_thesalespage2_css}
	{$settings_tracking}
</head>
<body>
<div id="wrap">
<div id="header">
<div class="wrap">			
<div class="logo">
<a href="/index.php"><img src="/images/{$settings_logo}" alt="Logo" title="{$settings_tagline}" height="120" /></a>
</div>
<div>
<h1>{$settings_tagline}</h1>
</div>	
</div><!-- end of wrap -->
</div><!-- end of header -->			
<div id="main">
<div id="top-row1">
<div class="menu">
<div class="main_menu">
</div><!-- end of main menu -->
</div><!-- end of menu -->
</div><!-- end of top-row1 -->
<div id="top-row2">
</div><!-- end of top-row2 -->				
<div class="wrap"> 
<div class="wrap1">
<div class="shadowrap">
</div><!--end shadowrap-->
<div class="content">
<div class="wrap2">
{$content}	
</div><!-- end of wrap2 -->
<div class="pagefooter">
</div><!--endpagefooter-->
</div><!-- end of content -->
</div><!-- end wrap1-->
</div><!-- end of wrap -->
</div><!-- end of main -->		
<div id="footer">
<div class="menu">{$menu_footer}</div>
<p>&nbsp;</p>
<p align="center" class="copyright"> &copy; 2009 -
<SCRIPT LANGUAGE="JavaScript">
<!--- Hide from old browsers
today=new Date();
year=today.getFullYear();
document.write(year);
// end hiding --->
</SCRIPT> RapidResidualPro.com, All Rights Reserved</p>
<div id="rrp-logo"><a href="http://www.rapidresidualpro.com"><img src="http://www.rapidresidualpro.com/images/powered_by_rrp1.png" border="none"></a>
</div>
</div><!-- end of footer -->
</div><!-- end of wrap -->
</body>
</html>				