		/***************************************************/
/* RRP "SimplePlus1" CSS  */
/*************************************************/
body {margin: 0;
padding: 0;
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 13pt;
line-height: 1.4em;
color: #666666;
background: #f5f5f5;
}
p {font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 13pt;
line-height: 1.4em;
color: #666666;
padding-left: 20px;
padding-right: 20px;
}
h1 {
color: #b82530;
font-family: Tahoma, Arial, sans-serif;
font-size: 20pt;
font-weight: bold;
text-align: center;
line-height: 1.4em;
letter-spacing: 3px;
margin-top: 0px;
}
h2 {
color: #b82530;
font-family: Tahoma, Arial, sans-serif;
font-size: 17pt;
font-weight: bold;
text-align: center;
line-height: 1.2em;
}
h3 {color: #b82530;
font-family: Tahoma, Arial, sans-serif;
font-size: 15pt;
font-weight: bold;
text-align: center;
line-height: 1.4em;
}
#topstrip {
 height: 45px;
 width: 100%;
 background: #111 url() repeat-x;
 margin-top: 0px;
 margin-bottom: 10px;
 overflow: hidden;
}
#topstrip p {
 width:100%;
 line-height: 25px;
 color: #efefef;
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;
 margin: 0px;
 overflow: hidden;
}
#topheader {
background: #f5f5f5 url();
border-top: 0px #d9d9d9 solid;
border-right: 0px #d9d9d9 solid;
border-bottom: 0px #d9d9d9 solid;
border-left: 0px #d9d9d9 solid;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
width: 746px;
height: 135px;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
margin-bottom: 0px;
overflow:hidden;
}
#topheader h2 {
color: #666;
font-family: Tahoma, Arial, sans-serif;
font-size: 16pt;
font-weight: bold;
line-height: 1.5em;
letter-spacing: 3px;
text-align: right;
padding-top: 70px;
padding-left: 20px;
padding-right: 20px;
margin-top: 0;
}
#topheaderlogo {
width: 308px;
height: 112px;
float: left;
background-repeat: no-repeat;
margin: 5px 10px;
}
#headermenu {
background: #f5f5f5 url();
border-top: 0px #d9d9d9 solid;
border-right: 0px #d9d9d9 solid;
border-bottom: 0px #d9d9d9 solid;
border-left: 0px #d9d9d9 solid;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
width: 746px;
height: 36px;
margin-top: 0px;
margin-left: auto;
margin-right: auto;
margin-bottom: 0px;
overflow:hidden;
}
#headermenu ul {
width: 100%;
height: 36px;
background: #f5f5f5 url();
display: inline-block;
text-align: left;
margin: 0;
} 
#headermenu ul li{
list-style: none;
font-family: Tahoma, Helvetica, Arial, sans-serif;
font-weight: normal;
font-size: 13pt;
color: #ccc;
text-decoration: none;
display: inline-block;
text-align: left;
background: #f5f5f5 url();
padding: 0px 0px;
margin: 0 auto;
position: relative;
}
#headermenu ul li a{
list-style-type: none;
font-family: Tahoma, Helvetica, Arial, sans-serif;
font-weight: normal;
color: #ccc;
line-height: 30px;
text-decoration: none;
display: inline-block;
text-align: left;
background: #f5f5f5 url();
padding: 3px 5px;
margin: 0 auto;
overflow: hidden;
}
#headermenu ul li a:visited {
color: #ccc;
list-style-type: none;
text-decoration: none;
display: inline-block;
}
#headermenu ul li a:hover {
color: #111;
background-color: #d9d9d9;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
list-style: none outside none;
line-height: 36px;
text-decoration: none;
display: inline-block;
}
#headermenu ul li a:active {
background-color: #d9d9d9;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
color: #111;
list-style: none outside none;
text-decoration: none;
display: inline-block;
}
#page-shadow {
height: 23px;
background-image: url(../images/page_footer_shadow.png);
background-repeat: no-repeat;
background-position: center;
width: 750px;
position: relative;
top: 0px;
margin-left: auto;
margin-right: auto;
}

#maincontent {
background-color: #ffffff;
border-top: 8px #d9d9d9 solid;
border-right: 8px #d9d9d9 solid;
border-bottom: 8px #d9d9d9 solid;
border-left: 8px #d9d9d9 solid;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
width: 746px;
min-height: 250px;
height: 100%;
margin-top: -1px;
margin-left: auto;
margin-right: auto;
overflow:hidden;
}
#content {
text-align: left;
background-color: #ffffff;
color: #3f3f3f;
padding-top: 10px;
padding-left: 40px;
padding-bottom: 20px;
padding-right: 40px;
margin:0;
}
#main-menu ul {
width: 700px;
display: inline-block;
text-align: center;
margin: 0 auto;
} 
#main-menu ul li{
list-style-type: none;
font-family: Tahoma, Helvetica, Arial, sans-serif;
font-weight: normal;
font-size: 13pt;
color: #333333;
text-decoration: none;
display: inline-block;
text-align: center;
background-color: #ffffff;
padding: 3px 5px;
margin: 0 auto;
}
#main-menu ul li a{
list-style-type: none;
font-family: Tahoma, Helvetica, Arial, sans-serif;
font-weight: normal;
color: #000000;
text-decoration: none;
display: inline-block;
text-align: center;
background-color: #ffffff;
padding: 3px 5px;
margin: 0 auto;
}
#main-menu ul li a:visited {
color: #333333;
list-style-type: none;
text-decoration: none;
display: inline-block;
}
#main-menu ul li a:hover {
color: #333333;
background-color: #f4f4f4;
list-style: none outside none;
text-decoration: none;
display: inline-block;
}
#main-menu ul li a:active {
background-color: #f4f4f4;
list-style: none outside none;
text-decoration: none;
display: inline-block;
}
/******************/
/*  BLOG         */
/****************/

/******************/
/* ERROR-SUCCESS */
/****************/
.error {	
	padding:10px 7px 10px 20px;	
	margin:10px auto;	
	width:98%;	
	margin-top:10px;		
	color:#c50000;
	font-size:14px;	
	text-align:left;	
	font-family:Verdana, Geneva, sans-serif;	
	background-color: #FFDFDF;  
	border: 1px solid #FF0000;
	/*background:url../../images/mes-box2.gif) no-repeat;*/
}
.success {
	padding:10px 7px 10px 20px;
	margin:10px auto;
	width:98%;
	margin-top:10px;
	color:#0E5F00;
	font-size:14px;
	text-align:left;
	font-family:Verdana, Geneva, sans-serif;
	background-color: #F1FFEF;
    	border: 1px solid #106F00;
   	font-weight: normal;
}
/******************/
/*  COMMENTS     */
/****************/
.comments {
	width: 98%;	
	float: left;	
	border: 1px solid #f4f4f4;	
	padding: 5px;
}
.comments h3 {   
	background-color: #5C4F46;
   	border-bottom: 1px solid #000000;
    	color: #FFFFFF;
    	font-size: 1em;
    	padding: 9px 5px;
}
.comments .author {
	font-size: 12px;color: #2A6F00;
	font-weight: bold;
}
.comments .date {
	font-size: 12px;color: #2A2521
}
.comments .comment {
	font-size: 12px;
	padding: 5px 0px
}
.comments .url {  
	border-bottom: 1px solid #F4F4F4;
	font-size: 12px; 
	padding: 5px 0;
}
.comments .url a {
	color:#489022
}
.comments .replys {
    	background-color: #F4F4F4;
    	margin-bottom: 1px;
    	margin-left: 25px;
    	padding: 14px;
    	width: 92%;
}
/******************/
/* PRODUCTS      */
/****************/
.products {
	width: 100%;
	float: left;
	padding: 10px 0px;
	border-bottom: 1px solid #e4e4e4;
}
.products h3 {  
	background: url("../../images/headline_bg.jpg") no-repeat scroll left top transparent;
    	color: #5E4400;
    	font: 20px/33px Arial,Helvetica,sans-serif;    
    	text-indent: 4px;
    	width: 100%;
}
.products .product-price {
	font-weight: bold;clear: both;
}
.products .product-discription {
	padding:10px 0px;
	width: 77%;
	float: left;
}
.products .product-image {
	float: left;
	width: auto;
}
/******************/
/*    PAGER      */
/****************/
.pager {
	width: auto;
	padding: 0px 0px; 
	text-align: center;
	margin-top: -1px;
}
.pager .totalpage {
	width: auto;
	float: left;
}
.pager .page {
	width: auto;
	float: left;
}
/***********************/
/*               LINKS                */
/*********************/
#maincontent a, #content a, a:link {
color: #000000;
text-decoration: underline;
} 
a:visited {
color: #000000;
text-decoration: none;
}
a:hover {
color: #000000;
background-color: #f4f4f4;
text-decoration: underline;
}
a:active {
background-color: #f4f4f4;
text-decoration: underline;
}
/***********************/
/*   FOOTER           */
/*********************/
#pagefooter {
background: #3f3f3f url() repeat top left;
border-top: 8px #efefef solid;
width: 100%;
height: 60px;
}
#pagefooter p {
text-align: center;
color: #efefef;
padding-top: 10px;
padding-bottom: 10px;
margin: 0 auto;
}
#footer {
text-align: center;
color: #757575;
width: 746px;
margin: 20px auto;
}
#footer p {
font-family: Arial, Verdana, Helvetica, sans-serif;
color: #757575;
font-size: 12pt;
line-height: 1.4em;
}
#footer .menu{
width: 100%;
float: left;
}
#footer .menu ul{
margin: 10px auto;
padding: 0px;
}
#footer .menu  ul li{ 
display: inline; 
list-style: none;
}
#footer .menu  ul li a{
padding: 2px 10px;
background: none;
text-decoration: none;
color: #757575;
}
#footer .menu  ul li a:visited {
text-decoration: none;
}
#footer .menu  ul li a:hover {
background-color: #efefef;
text-decoration: underline;
}
#footer .menu  ul li a:active {
text-decoration: none;
}
/***********************/
/*      COPYRIGHT     */
/*********************/
#footer p.copyright {
color: #757575;
font-family: Tahoma,Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size: 9px;
padding: 9px 0;
text-transform: uppercase;
}
/***********************/
/*      POWERED BY    */
/*********************/
#rrp-logo {
margin: 5px auto;
width:178px;
height:30px;
position: relative;
text-decoration: none;
}
#bottomstrip {
 height: 45px;
 width: 100%;
 background: #111 url() repeat-x;
 margin-top: 20px;
 margin-bottom: 0px;
}
#bottomstrip p {
 color: #efefef;
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;
}